:root {
  --primary: #002431;
  --water: #0d87b7;
  --dark: #000;
  --shadow: #eee;
  --white: #ffffff;
  --green: #4aa828;
  --light-green: #68bc6c;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Rancho", cursive;
}
