#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 99999;
}

#header .logo {
  color: var(--primary);
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

#header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header ul li {
  list-style: none;
  margin: 0px 10px;
}

#header ul li a {
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  color: var(--primary);
  border-radius: 20px;
  transition: all 0.3s ease;
}

#header ul li a:hover,
#header ul li a.active {
  background: var(--primary);
  color: var(--white);
}

@media screen and (max-width: 650px) {
  #header {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #header ul {
    padding: 0.5em;
  }
}
